<style>
  fieldset{
    margin:0 auto;
    width:450px;
  }
  .form-horizontal .control-label{
    width:70px;
  }
  .form-horizontal .controls {
    margin-left:90px;
  }
  .form-horizontal .form-actions{
    background:none;
    padding-left:350px;
  }
  .form-horizontal{
    margin-top:40px;
    float:right;
    width:40%;
    background:#55beff;
    border-radius:6px;
    padding:10px;
  }
  .hero-unit{
    float:left;
    width:40%;
    background:none;
  }
   legend,label{
    color:#fff;
  }
</style>

<div class="hero-unit">
  <h1>欢迎来到 ReadIn</h1>
</div>

<form class="form-horizontal" method="post">
  <fieldset>
    <legend>用户登录</legend>
    <div class="control-group">
      <label class="control-label" for="username">用户名</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="username" name="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">密码</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
        <a href="/forgetPwd">忘记密码</a>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn  btn-large">登录</button>
    </div>
  </fieldset>
</form>
<div style="margin-top:200px;"></div>
