<form class="form-horizontal" method="post" action="/forgetPwd">
  <fieldset>
    <legend>重设密码</legend>
    <p> 将会把新密码发送到此邮箱，请查收</p>
    <div class="control-group">
      <label class="control-label" for="mail">邮箱</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="mail" name="mail">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">发送</button>
    </div>
  </fieldset>
</form>

