<style>
	#catalogue{
		border: 1px solid #000;
	}
	#content{
		width: 600px;
		overflow: hidden;
	}
	.pone{
		margin: 0;
		line-height: 20px;
	}

</style>


<div id="hideContent" style="display:none"><%= book.content %></div> 


<div id="content"></div>

<div id="catalogue"></div>

<div id="largeImg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">查看大图</h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<script>
	var Tohtml = function (str) {
        return str ? str.replace(/&((g|l|quo)t|amp);/g, function (m) {
            return {
                '&lt;':'<',
                '&amp;':'&',
                '&quot;':'"',
                '&gt;':'>'
            }[m]
        }) : '';
    };

    //将段落存起来，方便控制和扩展
    $('#hideContent').html(Tohtml($('#hideContent').html()));
    var pList = [];
    $('.psignal').parent().each(function(){
    	var htmlSection = '<p style="'+$(this).attr('style')+'" class="pone">'+$(this).html()+'</p>';
    	pList.push(htmlSection);
    });
    var cList = [];
    $('.csignal').parent().each(function(){
    	var htmlSection = '<p class="pone">'+$(this).html()+'</p>';
    	cList.push(htmlSection);
    });

    //show
    for(var i=0;i<pList.length;i++){
    	$('#content').append(pList[i]);
    }
    var viewHeight = $(window).height()-100;
	var curHeight = 0;
	var pages = [];
	var pageContent = '';
	for(var i=0;i<pList.length;i++){
		pageContent += pList[i];
		if(curHeight<viewHeight){
			curHeight = curHeight + $('#content>p:eq('+i+')').height();
		}else{
			pages.push(pageContent);
			pageContent = '';
			curHeight = 0;
		}
	}
	
	//catalogue
	/*for(var i=0;i<cList.length;i++){
    	$('#catalogue').append(cList[i]);
    }*/

    $(document).ready(function(){
    	$('#content').html(pages[0]);
        


        //check big image
        $('.img').bind('click',function(){
           var src = $(this).children().attr('src');
           $('#largeImg > .modal-body').html('<img src="'+src+'"/>');
        });

    });



</script>