
<div class="span10">
  <form action="/book/search" method="get" class="form-inline ">
    <input type="text" name="key" placeholder="内容及标题" class="input-large"/>
    <button type="submit" class="btn">搜索</button>
  </form>
</div>

<ul class="span10">
   <li><%= book.bookName %></li>
   <li><%= book.author %></li>
   <li><%= book.cata %></li>

	<li><a href="/book/<%= book._id%>/salon">书评</a></li>
</ul>


